RewriteEngine on

#RewriteCond %{REQUEST_URI}  ^/admin [NC]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^.*admin/(.*)$ /admin/index.php?mod=$1 [L,QSA]

RewriteCond %{REQUEST_URI}  !^/admin [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]*)$ /_handler.php [L,QSA]

RewriteCond %{REQUEST_URI}  !^/admin [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]*)\.html$ /_handler.php [L,QSA]


RewriteCond %{REQUEST_URI}  ^/admin [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*admin/(.*)$ /admin/index.php?mod=$1 [L,QSA]
