{% extends ":themes:2column.html.twig" %}
{% form_theme form ":forms:basic.html.twig" %}

{% block body %}
<script src="{{ asset('js/vendor/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('js/vendor/ckeditor/adapters/jquery.js') }}"></script>
<form method="post" {{ form_enctype(form)}} >

{{ form_field(form)}}

        <input type="submit">
</form>
<script>
    $( 'textarea' ).ckeditor({
        customConfig: '/js/ckeditor/config.js'
    });
</script>
{% endblock body %}