  #DHTMLgoodies_panel_one,#DHTMLgoodies_arrows,#DHTMLgoodies_thumbs{  /* Width of divs for thumbnails */
    width:100%;
  }
  #DHTMLgoodies_panel_one{    
    float:left; 
  }
  #DHTMLgoodies_thumbs{
    overflow:hidden;  /* Don't change this */
    height:100%; /* Height of thumbnail div */
    position:relative;  /* Never change this */
    float:left;
  }
  #DHTMLgoodies_largeImage{ /* Large image div */
    width:290px;  /* Width of large image div */
    height:200px; /* Height of large image div */
    float:left;
    padding-left:0px;  /* "Air" */
    padding-right:10px; 
  }
  #DHTMLgoodies_largeImage table{ /* Used table to get both horizontal and vertical center alignement of large image */
    width:290px;
    text-align:center;
  }
  #DHTMLgoodies_largeImage img{ /* Large image */
    border:1px solid #5B6374; /* Border around large image */
    width: 290px;
  }
  
  
  .strip_of_thumbnails{ /* A vertical strip of thumbnails */
    padding:4px;  /* "Air" inside filmstrip div */
    position:absolute;

  }
  .strip_of_thumbnails div{
    width:100px;
    padding:1px;
    text-align:center;

  }
  .strip_of_thumbnails img{
    border:0px;
    padding:0px;
  }
  .strip_of_thumbnails .activeImage{  /* Active thumbnail */
    border:1px solid #5B6374; /* Green border around active thumbnail */
    padding:0px;
  
  }
  .leftArrow{
    float:left;
  }
  .rightArrow{
    float:right;
  }
  #DHTMLgoodies_thumbs_inner{
    position:relative;  /* Never change this */
    width:1000px;
  } 