body{
    margin: 0;
    padding: 0;
}

.container{
    border: 1px solid;
    width: 760px;
    margin: 0 auto;
    height: 100%;
}

.header{
    background-color: #f0f8ff;
}

.content{

}