<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Hello Application{% endblock %}</title>
    {% block head %}
    <link href="{% asset 'js/jquery/themes/base/jquery-ui.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% asset 'js/jquery/jquery-1.4.4.js' %}"></script>
    {% endblock %}
</head>
<body>
{% trans "Application name" %}
{% block body %}{% endblock %}
</body>
</html>
