@CHARSET "UTF-8";

@import "modules/login.css";
@import "modules/catalog_menu.css";
@import "modules/content.css";
@import "modules/catalog.css";
@import "modules/navigation.css";


body{
	color:#FFFFFF;
	font-family: Arial, Verdana,Tahoma, sans-serif;
	font-size: 11px;
	background-color: #292623;
}

.clr{
	clear: both;
}

table > tr{
	vertical-align: top;
}

#centerDiv {
	margin:0 auto;
	width:100%;
}

#mainContainer {
	margin:0 auto;
	padding:0;
	text-align:left;
	width: 1021px;
	position: relative;
}

#mainContainer > .head{
	height: 180px;	
}

#mainContainer > .body{
	height: 100%;
	width: 1021px;
	position: relative;
	display: table-cell;
	background: transparent url(../images/body_bg.png) 0 0 repeat-y;
}

#mainContainer > .footer{
	height: 89px;	
}

#mainContainer > .head > .left{
	width: 200px;
	height: 180px;	
	float: left;
	background: transparent url(../images/head1.png) 0 0 no-repeat;
}

#mainContainer > .head > .center{
	width: 638px;
	height: 180px;
	float: left;
	background: transparent url(../images/head2.png) 0 0 no-repeat;
	position: relative;
}

#mainContainer > .head > .right{
	width: 183px;
	height: 180px;
	float: left;
	background: transparent url(../images/head3.png) 0 0 no-repeat;
}


#mainContainer > .body > .left{
	width: 200px;
	float: left;
	height: 100%;
	position: relative;
}

#mainContainer > .body > .center{
	width: 598px;
	height: 100%;
	float: left;
	position: relative;
	padding: 20px;
}

#mainContainer > .body > .right{
	width: 163px;
	float: left;
	height: 100%;
	position: relative;
	padding: 20px 10px;
}

#mainContainer > .footer > .left{
	background: transparent url(../images/foot1.png) 0 0 no-repeat;
	width: 200px;
	height: 89px;	
	float: left;
}

#mainContainer > .footer > .center{
	background: transparent url(../images/foot2.png) 0 0 no-repeat;
	height: 89px;
	width: 638px;
	float: left;
}

#mainContainer > .footer > .right{
	background: transparent url(../images/foot3.png) 0 0 no-repeat;
	height: 89px;
	width: 180px;
	float: left;
}



