.content{
    
}

.content .actions{
    text-align: right;
    height: 21px;
    border: 1px solid;
    position: relative;
}

.content .actions li{
    margin: 2px 5px;
    float: left;
}

.content .item,
.content .item .title,
.content .item .text{
    width: 100%;
}

.content .item .actions{
    display: none;
}
