.content{
    
}

.content .item{
    padding-bottom: 20px;
}

.content .actions{
    text-align: right;
    height: 18px;
    position: relative;
    margin: 0;
    padding: 0;
    float: right;
}

.content .actions li{
    padding: 0;
    margin: 0 5px;
    float: left;
    font-size: 12px;
    height: 16px;
}


.content .item,
.content .item .title,
.content .item .text{
    width: 100%;
}

.content .item .actions li{
    display: none;
}
