*{
    font-family: Verdana, Tahoma;
    font-size: 12px;
}

body{
    font-family: Verdana, Tahoma;
    font-size: 12px;
}

fieldset {
    font-size: 12px;
    border: 1px solid #C5DBEC;
    -moz-border-radius: 7px;
    padding: 4px;
    margin: 5px;
}

/*input, textarea, select {font:12px/12px Arial, Helvetica, sans-serif; padding:0;}*/
fieldset.action {
    text-align: right;
    /*background-color: #C5DBEC;*/
    background: url("/source/js/jquery/themes/redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") repeat-x scroll 50% 50% #5C9CCC
}

legend {
    font-size: 11px;
    font-weight: normal;
    color: #7d7d7d;
    padding: 0 10px;
}

label {
    font-size: 11px;
    font-weight: bold;
    color: #666;
}

label.opt {
    font-weight: normal;
}

dl {
    clear: both;
    margin: 5px 0;
}

dt {
    float: left;
    text-align: left;
    margin: 5px;
    width: 35%;
}

dd {
    float: left;
    margin: 5px;
    width: 60%;
}

dd input{
    width: 99%;
}

#footer {
    font-size: 11px;
}

form {
    font-size: 12px;
}

hr {
    height: 1px;
    width: 80%;
}

.form_but {
    height: 25px;
}

ul {
    color: green;
}

li {
    color: red;
    text-shadow: #7d7d7d;
}


label.required {
    font-size: 11px;
    font-weight: normal;
    color: red;
}

input,
select,
textarea,
button{
    border: 1px solid #C5DAED;
    border-top: 1px solid #ABADB3;
    color: #000000;
}

input.required,
select.required,
option.required,
textarea.required
{
    border-left: 2px solid red;
}

textarea {
    min-height: 120px;
    width: 99%;
}

div.form{
    clear: both;
    display: inline-block;
    width: 100%;
}

div.center {
    width: 100%;
    float: left;
    padding: 2px;
    clear: right;
}

div.left {
    float: left;
    width: 50%;
    padding: 2px;
    clear: right;
}

div.right {
    float: right;
    width: 49%;
    padding: 2px;
}

div.action {
    padding: 4px 0;
    width: 100%;
}

dt.line {
    width: 100%;
    text-align: left;
}

.div60_40{
    width: 100%;
}

.div60_40 div.left{
    width: 60%;
}

.div60_40 div.right{
    width: 39%;
}

.line dt{
    width: 100%;
    margin: 0;
    padding: 5px;
}
.line dd{
    width: 100%;
    margin: 0;
    padding: 5px;
}