fieldset {font-size: 12px; font-family: Tahoma;}
/*input, textarea, select {font:12px/12px Arial, Helvetica, sans-serif; padding:0;}*/
fieldset.action {text-align: right;}
legend {}
label {font-size:11px; font-weight:bold; color:#666;}
label.opt {font-weight:normal;}
dl {clear:both;}
dt {float:left; text-align:right; margin: 5px;}
dd {float:left; margin: 5px;}
#footer {font-size:11px;}

form{
    font-size: 12px;
}


hr {
    height: 1px;
    width: 80%;
}

.form_but {
    height: 25px;
}

ul {
    color: green;
}

li {
    color: red;
    text-color: #7d7d7d;
}

fieldset {
    border: 1px solid #C5DBEC;
}

legend {
    font-family: Verdana, Tahoma;
    font-size: 11px;
    font-weight: normal;
    color: #7d7d7d;
}

.required {
    font-family: Verdana, Tahoma;
    font-size: 11px;
    font-weight: normal;
    color: red;
}

textarea{
    width: auto;
    min-height: 100px; 
}