
.clr{
	clear: both;
}


.more{
	text-align: right;
}

.more a{
	color:		#CD6036;
	text-decoration: none;}

/*
.title{
	color:			#000000;
	text-indent: 	20px;
	font-weight: 	bold;
	font-family: 	Tahoma;
	font-size: 		13px;
}

.title a{
	color:			#000000;
	text-decoration: none;	
}


.contentTable * p{
	text-indent: 	20px;
}


.contentTable{
	margin:			5px;
	text-align: 	justify;
}
*/
#gallery{
}

#poll{
	margin: 0px;
	padding: 0px;
}

#poll #question{
	text-align: center;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	margin: 5px;
} 

#poll #questions{
	width: 150px;
	margin: 10px;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
}

#poll #questions img{
	margin: 5px 0px;	
}


#gallery{
	margin: 0px;
	padding: 0px;
}

#gallery #title{
	margin: 5px;
}
#gallery #title img{
	margin-left: 17px;	
}

#gallery #image{
	text-align: center;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	margin: 5px;
} 


a img{
	border: 0px;
}


.navTable{
	padding-left: 35%;
	width: auto;
}

.sep{
	margin: 10px 5px;
}