a.prev, a.next {
	background:transparent url(../../images/arrow/left.png) no-repeat scroll 0 0;
	cursor:pointer;
	display:block;
	float:left;
	height:18px;
	margin:83px 10px;
	width:18px;
}

a.next, a.nextPage {
	background-image:url(../../images/arrow/right.png);
	clear:right;
}

a.prev:hover, a.next:hover, a.prevPage:hover, a.nextPage:hover {
	background-position:0 -18px;
}

div.scrollable{
	width: 522px;
	height: 200px;
	position:relative;
	overflow:hidden; 
	float: left;
}

div.scrollable div.items {
	clear:both;
	margin-left:5px;
	position:absolute;
	width:20000em;
}

div.scrollable div.items .item {
	float:left;
	width:260px;
}