.title{
	color: #0588CC;
	font-size: 14px;
	font-weight: bold;
}

/*

	NEWSFLASH

*/

.newsflash{
	margin: 20px 0px;
}

.newsflash  .box .title{
	background-color: #0076C6;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	padding: 2px;
	margin: 15px 0px;
}

.newsflash  .box .news .title{
	color: #0588CC;
	font-size: 14px;
	font-weight: bold;
	background: none;
	border: 0px;
}

.newsflash  .box .news .title a{
	color: #0588CC;
	text-decoration: none;
}

.newsflash  .box .news .date{
	color: #FFFFFF;
	font-size: 10px;
	text-align: right;
	margin-top: 3px;
}

.newsflash  .box .news .text{
	font-size: 12px;
}

.newsflash  .box .news .more{
	font-size: 10px;
	text-align: right;
	border-bottom: 1px solid #005F8E;
	line-height: 30px;
}

.newsflash  .box .news .more a{
	color: #0588CC;
}



/*

		SEARCH
		
*/
.search_panel{
	position: absolute;
	bottom: 5px;
	left: -18px;
}

.search_panel .box .title{
	display: none;
}

.search_panel .box select{
	height: 21px;
}

.search_panel .box .button{
	width: 55px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #0076C6;
	border: 1px solid #FFFFFF;
}