.navigation{
	text-align: center;
	margin: 15px 0px;
	clear: both;
}

.navigation .center{
	margin: 0 auto;
	width: 415px;
}

.navigation a{
	font-size: 12px;
	font-weight: bold;
}

.navigation b{
	font-size: 12px;
	font-weight: bold;
}

.navigation span{
	font-size: 12px;
	font-weight: bold;
}

.navigation .navItems{
	float: left;
	margin: 0px 10px;
	display: none;
}

.navigation .navPrev{
	float: left;
	margin: 0px 10px;
	border: 1px solid #005F8E;
	color: #FFFFFF;
	padding: 5px;
	margin: 3px;
}

.navigation .navPrevBlock span{
	color: #AAAAAA;
}

.navigation .navPages{
	float: left;
	margin: 0px 10px;
}

.navigation .navPages .block{
	float: left;
	border: 1px solid #005F8E;
	color: #FFFFFF;
	padding: 5px;
	margin: 3px;
}

.navigation .navPages .block b{
	color: #CE0000;
}


.navigation .navNext{
	float: left;
	margin: 0px 10px;
	border: 1px solid #005F8E;
	color: #FFFFFF;
	padding: 5px;
	margin: 3px;
}

.navigation .navNextBlock span{
	color: #AAAAAA;
}


.navigation .clr{
	clear: both;
	border: 0px !important;
}