<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{$meta_title}</title>
	<link rel="stylesheet" href="css/main.css" />
</head>
<body  bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div id="centerDiv">
	<div id="mainContainer">
		<div id="head">
			<div class="logo"></div>
			<div class="menu">
				<div class="search">
					<input type="text" class="field">
					<input type="image" src="/images/search.png" name="Search" value="Search" class="button">
				</div>
				<table border="0" cellpadding="0" cellspacing="0" height="28">
				<tr>
					<td><a href=""><img src="/images/menu1.png" border="0" /></a></td>
					<td><a href=""><img src="/images/menu2.png" border="0" /></a></td>
					<td><a href=""><img src="/images/menu3.png" border="0" /></a></td>
					<td><a href=""><img src="/images/menu4.png" border="0" /></a></td>
					<td><a href=""><img src="/images/menu5.png" border="0" /></a></td>
				</tr>
				</table>
			</div>
			<div class="right"></div>
		</div>
		<div id="body">
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td class="left"></td>
				<td class="center">
					<table border="0" cellpadding="0" cellspacing="0" class="ContentTable">
					<tr>
						<td class="leftCol"></td>
						<td class="sep"><div class="sepTop"></div><div class="sepBottom"></div></td>
						<td class="centerCol">
						
							<div style="height: 300px;"></div>
						
						</td>
						<td class="sep"><div class="sepTop"></div><div class="sepBottom"></div></td>
						<td class="rightCol"></td>
					</tr>
					</table>
				</td>
				<td class="right"></td>
			</tr>
			</table>
		</div>
		<div id="footer"></div>
	</div>
</div>
</body>
</html>