{% extends "::base.html.twig" %}

{% block theme %}
<div class="leftCol">
    <div class="box">
        {% block body %}{% endblock %}
    </div>
</div>
<div class="rightCol">
    <div class="box">
        {% render "UserBundle:Security:login" %}
    </div>
    <div class="box">
        {% block rightBlock %}right Col{% endblock %}
    </div>
</div>
<div class="clr"></div>
{% endblock %}