{%extends "::layout.twig"%}
{% block content %}
{% trans 'Registration' %}

<form method="post">

    {{ form|render }}
    {{ form|render_hidden }}
    <input type="submit" />
</form>
{% endblock %}