@CHARSET "UTF-8";

@import "theme.css";
@import "login.css";
@import "form.css";
@import "menu.css";
@import "dashboard.css";
@import "notice.css";

BODY {
    font-family: Tahoma, Verdana;
    font-size: 11px;
    color: #7d7d7d;
    padding: 0;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
}

.clear{
    clear: both;
}

a, a:link, a:hover, a:visited {
    font-size: 12px;
    color: #7d7d7d;
    text-decoration: none;
}

#grid{
    width: 100%;
}

#grid td,
#grid th{
    font-family: Tahoma, Verdana;
    font-size: 12px;
}

.ui-tabs-nav{
    height: 27px;
}

.tabs div.tab_content{
    display: inline-block;
    overflow: hidden;
    width: 99%;
}
