@CHARSET "UTF-8";

@import "login.css";
@import "form.css";
@import "top_menu.css";
@import "dashboard.css";

BODY {
    font-family: Tahoma, Verdana;
    font-size: 11px;
    color: #7d7d7d;
    padding: 0;
}

.content {
    font-family: Tahoma, Verdana;
    font-size: 11px;
    font-weight: normal;
    color: #7d7d7d;
}

.contentTitle {
    font-family: Tahoma, Verdana;
    font-size: 14px;
    font-weight: bold;
    color: #7d7d7d;
    text-align: center;
}

a:link, a:hover, a:visited {
    font-family: Tahoma, Verdana;
    font-size: 11px;
    font-weight: normal;
    color: black;
    text-decoration: none;
}

.tableContainer {
    height: 100%;
}

.filesContainer{
}

.filesContainer .image_preview{
    max-width: 160px;
    max-height: 120px;
    margin: 3px 10px;
}

.filesContainer div{
    float: left;
    text-align: center;
}

.filesContainer div a{
    text-decoration: none;
}

.filesContainer div img{
    border: none;
}

.ui-tabs-nav{
    height: 27px;
}

.tabs div.tab_content{
    display: inline-block;
    overflow: hidden;
    width: 99%;
}